.footer {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	padding-bottom: 1rem;
	background-color: var(--dark-background-color);
}

.footer_column {
	float: left;
	padding: 2rem 2rem;
	background-color: var(--dark-background-color);
	color: var(--font-color-light);
	font-family: var(--font-family);
}

.footer_column a {
	color: var(--font-color-light);
}

.footer_column a:hover {
	color: var(--font-color-hover);
}

@media screen and (max-width: 775px) {
    .footer_column {
		width: 100%;
	}

	.footer {
		flex-direction: column;
		justify-content: center;
	}

	.footer_column{
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.footer_column div{
		font-size: 0.8rem;
	}
}