* {
	box-sizing: border-box;
	--main-background-color: 
		linear-gradient(to bottom, #3a5775 1rem, #8791a7 3rem,#acb0c1 4rem, #ffffff 6rem);
	--dark-color: #3a5775;
	--dark-background-color: #3a5775;
	--menu-height: 5rem;
	--font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-color-light: #efefef;
	--font-color-hover: #bfbfbf;
	--menu-hover-background: #0b0c0d;
	--menu-item-hover-background: #dddddd;
	--light-blue-background: #ccccff;
	--container-background: rgba(97, 144, 192, 0.6);
	--container-background-border: rgba(58, 87, 117, 0.6);
	--content-text-size: 17px;

	--side-menu-dark-color: #3a5775;
	--side-menu-dark-color-hover: rgb(41, 69, 99);
	--side-menu-border-color: rgba(58, 87, 117, 0.6);
	--side-menu-item-background-color: rgba(97, 144, 192, 0.6);
	--side-menu-item-background-hover: rgba(97, 144, 192, 0.3);

	--modal-border-color: #888888;
	--modal-header-background: #4242a6;

	--pagination-item-border-color: rgba(58, 87, 117, 1);
	--pagination-item-background: rgba(58, 87, 117, 0.6);
	--pagination-item-background-hover: rgba(58, 87, 117, 1);

	--page-table-border-color: #dddddd;
	--page-table-even-row-background: #f2f2f2;
	--page-table-uneven-row-background: #fefefe;
	--page-table-header-background: rgb(66, 66, 166);

	--delete-button-background: red;
	--delete-button-background-hover: darkred;
	--delete-button-border-color: darkred;
	--delete-button-font-color: #efefef;
	--delete-button-font-color-disabled: #4C2A2A;
	--delete-button-font-background-disabled: #754141;

	--add-button-background: green;
	--add-button-background-hover: darkgreen;
	--add-button-border-color: darkgreen;
	--add-button-font-color: #efefef;
	--add-button-font-color-disabled: #2A4C2A;
	--add-button-font-background-disabled: #417541;

	--edit-button-background: dodgerblue;
	--edit-button-background-hover: royalblue;
	--edit-button-border-color: royalblue;
	--edit-button-font-color: #efefef;
	--edit-button-font-color-disabled: #335677;
	--edit-button-font-background-disabled: #4574A0;

	--progress-background: #4242a6;
	--progress-color: rgb(43, 194, 83);

	--message-success-background: green;
	--message-error-background: red;
}

body {
	padding: 0px;
	margin: 0px;
}

