/*

 _______  _______  __    _  __    _  _______  ______
|  _    ||   _   ||  |  | ||  |  | ||       ||    _ |
| |_|   ||  |_|  ||   |_| ||   |_| ||    ___||   | ||
|       ||       ||       ||       ||   |___ |   |_||_
|  _   | |       ||  _    ||  _    ||    ___||    __  |
| |_|   ||   _   || | |   || | |   ||   |___ |   |  | |
|_______||__| |__||_|  |__||_|  |__||_______||___|  |_|

*/

#banner {
    background-image: url("/static/img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: 0px;
    height: auto;
    min-height: calc(100vh - var(--menu-height));
}

#banner-text {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: var(--font-family);
    font-size: 80px;
    color: var(--font-color-light);
    text-align: center;
    text-shadow: 4px 4px 2px black;
}


/*

 _______  _______  __    _  _______  _______  __    _  _______
|       ||       ||  |  | ||       ||       ||  |  | ||       |
|       ||   _   ||   |_| ||_     _||    ___||   |_| ||_     _|
|       ||  | |  ||       |  |   |  |   |___ |       |  |   |
|      _||  |_|  ||  _    |  |   |  |    ___||  _    |  |   |
|     |_ |       || | |   |  |   |  |   |___ | | |   |  |   |
|_______||_______||_|  |__|  |___|  |_______||_|  |__|  |___|

*/

#news_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 7rem 0;
    background: var(--main-background-color);
}

.news_container {
    background: var(--container-background);
	box-shadow: 0px 15px 15px 0px rgba(97, 144, 192, 0.3);
    border: 2px solid var(--container-background-border);
    color: var(--dark-color);
    border-radius: 15px;
    width: 50%;
    padding: 2rem;
    font-family: var(--font-family);
    overflow: hidden;
}

/*

 _______  __   __  _______  ___      ___        _______  _______  ______    _______  _______  __    _
|       ||  |_|  ||   _   ||   |    |   |      |       ||       ||    _ |  |       ||       ||  |  | |
|  _____||       ||  |_|  ||   |    |   |      |  _____||       ||   | ||  |    ___||    ___||   |_| |
| |_____ |       ||       ||   |    |   |      | |_____ |       ||   |_||_ |   |___ |   |___ |       |
|_____  ||       ||       ||   |___ |   |___   |_____  ||      _||    __  ||    ___||    ___||  _    |
 _____| || ||_|| ||   _   ||       ||       |   _____| ||     |_ |   |  | ||   |___ |   |___ | | |   |
|_______||_|   |_||__| |__||_______||_______|  |_______||_______||___|  |_||_______||_______||_|  |__|

*/

@media screen and (max-width: 775px) {
    /*

     _______  _______  __    _  __    _  _______  ______
    |  _    ||   _   ||  |  | ||  |  | ||       ||    _ |
    | |_|   ||  |_|  ||   |_| ||   |_| ||    ___||   | ||
    |       ||       ||       ||       ||   |___ |   |_||_
    |  _   | |       ||  _    ||  _    ||    ___||    __  |
    | |_|   ||   _   || | |   || | |   ||   |___ |   |  | |
    |_______||__| |__||_|  |__||_|  |__||_______||___|  |_|

    */
    #banner-text {
        font-size: 40px;
    }

    .news_container{
        width: 75%;
    }

}

@media screen and (max-width: 500px){
    h2{
        font-size: 1.2rem;
    }

    p{
        font-size: 0.8rem;
    }

    .news_container{
        width: 90%;
    }
}