.navigation {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin:0px;
	min-height: var(--menu-height);
	width: 100%;
}

.topnav {
	overflow: hidden;
	background-color: var(--dark-background-color);
}

.topnav a {
	float: left;
	display: block;
	color: var(--font-color-light);
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	font-family: var(--font-family);
	height: var(--menu-height);
	padding-left: 15px;
	padding-right: 15px;
	line-height: var(--menu-height);
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	color: var(--font-color-light);
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	font-family: var(--font-family);
	height: var(--menu-height);
	padding-left: 15px;
	padding-right: 15px;
	line-height: var(--menu-height);
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--font-color-light);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
	z-index: 100;
}

.dropdown-content a {
	float: none;
	display: block;
	color: var(--dark-color);
	text-align: left;
	text-decoration: none;
	font-size: 22px;
	font-family: var(--font-family);
	height: var(--menu-height);
	padding-left: 15px;
	padding-right: 15px;
	line-height: var(--menu-height);
}

.topnav a:hover {
	background-color: var(--menu-hover-background);
	color: var(--font-color-hover);
	text-decoration: underline;
}

.dropdown:hover .dropbtn {
	background-color: var(--menu-hover-background);
	color: var(--font-color-hover);
}

.dropdown-content a:hover {
	background-color: var(--menu-item-hover-background);
	color: var(--dark-color);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.topnav a.home_nav {
	background-color: var(--menu-hover-background);
	color: white;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 775px) {

    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0px;
        top: 0;
    }

    .fa {
        height: var(--menu-height);
        line-height: var(--menu-height);
        vertical-align: middle;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
