{% extends 'a4d/backend/backend_base.html' %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/grid-gallery.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/backend/gallery.css' %}"/>
{% endblock %}

{% block content %}

    <div class="content-container">

        <h1>Foto's toevoegen</h1>

        <div id="upload_errors"></div>

        <!--<input type="file" id="files" name="files" accept="image/*" multiple>-->

  <div class="file-drop" id="drop-zone">
    <input type="file" id="files" name="files" accept="image/*" multiple>
    <span class="drop-icon">&#8686;</span>
    <div class="drop-title">Drop images here</div>
    <div class="drop-sub">PNG, JPG, GIF, WEBP &mdash; multiple files supported</div>
    <div class="drop-btn">Browse files</div>
  </div>

  <div class="file-list" id="file-list">
    <p class="file-empty" id="empty-hint">No files selected yet</p>
  </div>

<div class="add-button-div">      
  <button class="add_button" id="add_button" onclick="upload_images()">Uploaden</button>
</div>
        <div id="progress_bar">
        </div>
    </div>

    <div class="content-container">
        <div id="error_container"></div>
        <div class="image-container" id="picture_container"></div>
    </div>


{% endblock %}

{% block javascript %}
    <p hidden id="album_id">{{ album.id }}</p>
    <script src="{% static 'js/backend/gallery.js' %}"></script>



{% endblock %}