{% extends 'a4d/backend/backend_base.html' %}
{% load static %}

{% block head %}

    <link rel="stylesheet" src="{% static 'css/backend/page_edit.css' %}?v={{STATICS_VERSION}}" />
    <link rel="stylesheet" href="{% static 'css/modal.css' %}?v={{STATICS_VERSION}}" />
    <link rel="stylesheet" href="{% static 'css/backend/routecontrol.css' %}?v={{STATICS_VERSION}}" />

<style>

</style>

{% endblock %}

{% block content %}

    <div class="content-container">
        <h1>{{ title }}</h1>

        <div id="error_container"></div>

        <div style="text-align: right; margin-bottom: 10px;">
            <button class="add_button" id="add_button" onclick="save_editor()">Opslaan</button>
        </div>


        <div class="editor_container" id="editor_container">
            <div id="editorjs"></div>
        </div>
    </div>

    <div class="content-container">
        <h1>Afbeeldingen</h1>
        Let op, helaas kan de volgorde niet aangepast worden. Volgorde van weergave is helaas vast. Mogelijk dat dit in de toekomst aangepast wordt.        
        <div style="text-align: right; margin-bottom: 10px;">
            <button class="add_button" id="add_image_button" onclick="add_image()">Nieuw</button>
        </div>

        <div id="extra_img_div">

        </div>
    </div>
    <div id="img-preview-modal">
        <div id="img-preview-backdrop"></div>
        <img id="img-preview-large" src="" alt="Preview" />
    </div>

   <div class="modal" id="image_title_edit">
        <div class="modal_content">
            <div class="modal_header">
                <span class="close">&times;</span>
                <h2>Afbeelding titel bewerken</h2>
            </div>
            <div class="modal_body">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2" id="title_modal_error_container"></td>
                    </tr>
                    <tr>
                        <td>Titel:</td>
                        <td><input style="width: 100%" type="text" maxlength="100" placeholder="Titel..."
                                   id="input_edit_title"></td>
                    </tr>
                </table>
            </div>
            
            <div class="modal_footer">
                <button class="accept">Opslaan</button>
                <button class="deny">Annuleer</button>
            </div>
        </div>
    </div>


    <div class="modal" id="image_add_modal">
        <div class="modal_content">
            <div class="modal_header">
                <span class="close">&times;</span>
                <h2>Afbeelding toevoegen</h2>
            </div>
            <div class="modal_body">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2" id="add_modal_error_container"></td>
                    </tr>
                    <tr>
                        <td>Titel:</td>
                        <td><input style="width: 100%" type="text" maxlength="100" placeholder="Titel..."
                                   id="input_add_title"></td>
                    </tr>
                    <tr>
                        <td>Afbeelding:</td>
                        <td><input type="file" id="input_add_image" name="input_image" accept="image/png, image/jpeg" /></td>
                    </tr>
                </table>
            </div>
            
            <div class="modal_footer">
                <button class="accept">Opslaan</button>
                <button class="deny">Annuleer</button>
            </div>
        </div>
    </div>

    <div class="modal" id="image_swap_modal">
        <div class="modal_content">
            <div class="modal_header">
                <span class="close">&times;</span>
                <h2>Afbeelding wisselen</h2>
            </div>
            <div class="modal_body">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2" id="swap_modal_error_container"></td>
                    </tr>
                    <tr>
                        <td>Afbeelding:</td>
                        <td><input type="file" id="input_swap_image" name="input_image" accept="image/png, image/jpeg" /></td>
                    </tr>
                </table>
            </div>
            
            <div class="modal_footer">
                <button class="accept">Opslaan</button>
                <button class="deny">Annuleer</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script src="{% static 'js/editor/delimiter.js' %}?v={{STATICS_VERSION}}"></script>
    <script src="{% static 'js/editor/header.js' %}?v={{STATICS_VERSION}}"></script>
    <script src="{% static 'js/editor/link.js' %}?v={{STATICS_VERSION}}"></script>
    <script src="{% static 'js/editor/list.js' %}?v={{STATICS_VERSION}}"></script>
    <script src="{% static 'js/editor/marker.js' %}?v={{STATICS_VERSION}}"></script>
    <script src="{% static 'js/editor/table.js' %}?v={{STATICS_VERSION}}"></script>
    <script src="{% static 'js/editor/editorjs.js' %}?v={{STATICS_VERSION}}"></script>
    <script src="{% static 'js/backend/page_edit.js' %}?v={{STATICS_VERSION}}"></script>
    <script src="{% static 'js/modal.js' %}?v={{STATICS_VERSION}}" type="text/javascript"></script>
    <script src="{% static 'js/backend/routecontrol.js' %}?v={{STATICS_VERSION}}"></script>

{% endblock %}