{% extends 'a4d/backend/backend_base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Route beschrijving aanpassen</h1>

        <div class="button-group-container" id="my-group">
            <h2>5 KM</h2>
            <button class="group-button active" data-id="1">Dinsdag</button>
            <button class="group-button" data-id="2">Woensdag</button>
            <button class="group-button" data-id="3">Donderdag</button>
            <button class="group-button" data-id="4">Vrijdag</button>
            
            <h2>10 KM</h2>
            <button class="group-button" data-id="5">Dinsdag</button>
            <button class="group-button" data-id="6">Woensdag</button>
            <button class="group-button" data-id="7">Donderdag</button>
            <button class="group-button" data-id="8">Vrijdag</button>
        </div>
    </div>

    <div class="content-container" id="alter_desc">
        <h2 id="alter_header"></h2>

        <div id="error_container"></div>

        <div id="img_preview">

        </div>
        
        <!-- Image swap -->
        <div id="alt_image_div" class="alt-img-container">
            <input type="file" id="route_img_file" />
            <button class="add_button" onclick="upload_image()">Upload</button>
            <button class="delete_button" onclick="delete_image()">Verwijder</button>
        </div>

        <!-- Description -->
         <textarea rows="20" id="alter_desc_field"></textarea>

        <div style="text-align: right; margin-bottom: 10px;">
            <button class="add_button" id="add_button" onclick="save_desc()">Opslaan</button>
        </div>

    </div>


{% endblock %}

{% block javascript %}

    
    <script src="{% static 'js/backend/routedesccontrol.js' %}?v={{STATICS_VERSION}}"></script>


{% endblock %}