{% load static %}
<html>
<head>
    <title>Avondvierdaagse Hoevelaken</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/grid-gallery.css' %}"/>
</head>
<body>
<header id="banner">
    <div id="banner-text">Avondvierdaagse Hoevelaken</div>
</header>

{% include 'a4d/navigation.html' %}

<div id="content">
    <table class="content-table">
        <tr>
            <td class="ct-menu">
                <div class="gallery-menu">
                    {% for year in year_menu %}
                        <a href="{{ year.0 }}" class="gm-header">{{ year.1 }}</a>
                        {% for collection in year.2 %}
                            <a href="{{ collection.0 }}" class="gm-item">{{ collection.1 }}</a>
                        {% endfor %}
                    {% endfor %}

                </div>
            </td>
            <td class="ct-content">
                <div class="content-container">
                    <h2 class="content-header">Foto&rsquo;s</h2>
                    <h3>{{ title }}</h3>
                    <div class="gg-container">
                        <div class="gg-box">
                            {% for image in images %}
                                <img src="{{ image }}"/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

{% include 'a4d/footer.html' %}

<script type="text/javascript" src="{% static 'js/grid-gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
</body>
</html>