{% load static %}
<html>
<head>
    <title>Avondvierdaagse Hoevelaken</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0; " />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>

</head>
<body>
<header id="banner">
    <div id="banner-text">Avondvierdaagse Hoevelaken</div>
</header>

{% include 'a4d/navigation.html' %}

<div id="news_content">

    {% for item in latest %}
        <div class="news_container">
            <h2 class="news_header">{{ item.title }}</h2>
            <small>{{ item.publish_date }}</small>
            <p>
                {{ item.content|safe|linebreaksbr  }}
            </p>
            {% if item.link %}
                <a href="{{ item.link }}">Zie meer...</a>
            {% endif %}
        </div>
    {% endfor %}

</div>

{% include 'a4d/footer.html' %}


<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
</body>
</html>