{% load static %}
<html>
<head>
    <title>Avondvierdaagse Hoevelaken</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0; " />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}?v={{STATICS_VERSION}}"/>
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}?v={{STATICS_VERSION}}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?v={{STATICS_VERSION}}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v={{STATICS_VERSION}}"/>
    <link rel="stylesheet" href="{% static 'css/page.css' %}?v={{STATICS_VERSION}}"/>
    <link rel="stylesheet" href="{% static 'css/routeinfo.css' %}?v={{STATICS_VERSION}}"/>

</head>
<body>
<header id="banner">
    <div id="banner-text">Avondvierdaagse Hoevelaken</div>
</header>

{% include 'a4d/navigation.html' %}

<div id="content">
    <div class="content-container">

<a href="{% url 'a4d_routes' %}" class="back-btn">
    <i class="ti ti-arrow-left" aria-hidden="true"></i>
    Terug naar Routes
</a>

<h1>{{title}}</h1>

    <div class="tabs">
      <div class="tab-button active" onclick="openTab(event, 'dinsdag')">Dinsdag</div>
      <div class="tab-button" onclick="openTab(event, 'woensdag')">Woensdag</div>
      <div class="tab-button" onclick="openTab(event, 'donderdag')">Donderdag</div>
      <div class="tab-button" onclick="openTab(event, 'vrijdag')">Vrijdag</div>
    </div>

    <div class="tab-wrapper">
      <div id="dinsdag" class="tab-content active">
        {% if img_di %}<img src="{{img_di}}" />{%endif%}
        <ol>
          {%for line in di_route%}
            <li>{{line}}</li>
          {%endfor%}
        </ol>
      </div>

      <div id="woensdag" class="tab-content">
        {% if img_wo %}<img src="{{img_wo}}" />{%endif%}
        <ol>
          {%for line in wo_route%}
            <li>{{line}}</li>
          {%endfor%}
        </ol>
      </div>

      <div id="donderdag" class="tab-content">
        {% if img_do %}<img src="{{img_do}}" />{%endif%}
        <ol>
          {%for line in do_route%}
            <li>{{line}}</li>
          {%endfor%}
        </ol>
      </div>

      <div id="vrijdag" class="tab-content">
        {% if img_vr %}<img src="{{img_vr}}" />{%endif%}
        <ol>
          {%for line in vr_route%}
            <li>{{line}}</li>
          {%endfor%}
        </ol>
      </div>
    </div>
    </div>


</div>

{% include 'a4d/footer.html' %}

<script type="text/javascript" src="{% static 'js/menu.js' %}?v={{STATICS_VERSION}}"></script>
<script type="text/javascript" src="{% static 'js/routeinfo.js' %}?v={{STATICS_VERSION}}"></script>
</body>
</html>